body{
    font-family: Verdana, Geneva, sans-serif ;
    width: 900px;
}

h1 {
    font-family: tahoma, Helvetica, sans-serif ;
    font-size: 37px;
    line-height: 46px;
    color: #000000;
}

h2 {
    font-family: tahoma, Helvetica, sans-serif ;
    font-size: 25px;
    line-height: 38px;

}

h3 {
    color: #666666
}
 p{
    line-height: 27px;
    color: #333;
 }

#tamanio {
    font-size: 18 px;
}