h2{
    font-family: 'Work Sans', sans-serif;
    color: rgb(37, 36, 36);
    font-size: 40px;
    opacity: 100%;
    margin-left: 380px;
    margin-top: 180px;
}

#text{
    font-size: 70px;
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 250px;
    margin-left: 320;
    font-family:'Raleway', sans-serif;
}


ul{
    color:black;
    font-family:  'Work Sans', sans-serif;
    opacity: 50%;
    font-size: 20px;
    list-style: none;
    margin-left: 340;
}

.redes{
    position: absolute;
    top: 220px;
    margin-left: 380;
    font-size: 20px;

}

div{
	margin-left: 40px;

}
